# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.pytest_cache/

# PyCharm
.idea

# Database
config.ini

# Unit test / coverage reports
.coverage

# personal
my_test*.txt
my_notes.txt
my_plan.txt
delete_this.py
