# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.pytest_cache/

# PyCharm
.idea

# personal
my_test.txt
my_notes.txt
my_plan.txt

auction.py
process_input.py
process_output.py
